@import "../custom.css";

.carrossel-egressos {
}

.card-egresso-container{
    display: flex;
    align-items: center;
}

.card-egresso {
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 1em;
    font-size: 1.2em;
    font-weight: 500;
}

.imagem-card-egresso {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.botao-informacao {
    background-color: var(--branco);
    color: var(--azul-escuro);
    border: none;
    width: auto;
    height: auto;
}

.card-depoimento {
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 1em;
}

.citacao-depoimento {
  display: flex;
  align-items: center;
}

.texto-depoimento {
    text-align: justify;
    font-size: 0.9em;
    font-weight: 500;
}

.nome-depoimento {
    text-align: left;
    font-size: 1.2em;
    font-weight: 500;
}

.date-depoimento {
    text-align: left;
    font-size: 0.7em;
    font-weight: 500;
}