.App {
    text-align: center;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.secao-home-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.cards-egressos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.card-egresso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 20%;
    max-height: fit-content;
}

.botoes-contato-card-egresso {
    display: flex;
    align-items: left;
    flex-direction: row;
    height: 20%;
    width: 100%;
    gap: 5%;
}

.imagem-card-egresso {
    height: 100%;
    width: 100%;
}