.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.secao-home-div {
    max-width: 75vw;
}

