.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cardGrafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-height: fit-content;
    padding: 10px;
    margin-bottom: 26px;
    background-color: #1f2d40;
    color: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}